<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>

  <setupStep>setupstart</setupStep>
  <setupType>custom</setupType>
  <buildNumber>0</buildNumber>

  <properties>
    <property name="confluence.database.choice">postgresql</property>
    <property name="confluence.database.connection.type">database-type-standard</property>
    <property name="hibernate.dialect">com.atlassian.confluence.impl.hibernate.dialect.PostgreSQLDialect</property>
    <property name="struts.multipart.saveDir">${localHome}/temp</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>

    <property name="hibernate.connection.driver_class">{{ atl_db_driver }}</property>
    <property name="hibernate.connection.url">{{ atl_jdbc_url }}</property>
    <property name="hibernate.connection.username">{{ atl_jdbc_user }}</property>
    <property name="hibernate.connection.password">{{ atl_jdbc_password | replace("&", "&amp;") }}</property>
    <property name="hibernate.c3p0.min_size">{{ atl_db_poolminsize }}</property>
    <property name="hibernate.c3p0.max_size">{{ atl_db_poolmaxsize }}</property>
    <property name="hibernate.c3p0.timeout">{{ atl_db_timeout }}</property>
    <property name="hibernate.c3p0.idle_test_period">{{ atl_db_idletestperiod }}</property>
    <property name="hibernate.c3p0.max_statements">{{ atl_db_maxstatements }}</property>
    <property name="hibernate.c3p0.validate">{{ atl_db_validate }}</property>
    <property name="hibernate.c3p0.acquire_increment">{{ atl_db_acquireincrement }}</property>
    <property name="hibernate.c3p0.preferredTestQuery">{{ atl_db_preferredtestquery }}</property>

    <property name="shared-home">{{ atl_product_home_shared }}</property>
    <property name="confluence.cluster">true</property>
    <property name="confluence.cluster.home">{{ atl_product_home_shared }}</property>
    <property name="confluence.cluster.aws.iam.role">{{ atl_hazelcast_network_aws_iam_role }}</property>
    <property name="confluence.cluster.aws.region">{{ atl_hazelcast_network_aws_iam_region }}</property>
    <property name="confluence.cluster.aws.host.header">{{ atl_hazelcast_network_aws_host_header }}</property>
    <property name="confluence.cluster.aws.tag.key">{{ atl_hazelcast_network_aws_tag_key }}</property>
    <property name="confluence.cluster.aws.tag.value">{{ atl_hazelcast_network_aws_tag_value }}</property>
    <property name="confluence.cluster.join.type">aws</property>
    <property name="confluence.cluster.name">{{ atl_aws_stack_name }}</property>
    <property name="confluence.cluster.ttl">1</property>

  </properties>
</confluence-configuration>
